# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/
jspm_packages/

# TypeScript
*.tsbuildinfo

# Build output
lib/
dist/

# Jest
coverage/
*.lcov

# macOS
.DS_Store


# Test and Jest files
tests/
jest.config.js
jest.setup.js